.button-div {
    display: flex;
    justify-content: center;
    height: 50px;
}

.button {
    height: 40px;
    width: 150px;
    background-color: rgb(255, 117, 87);
    border-radius: 5px;
    border: 2px solid black; 
    font-size: large, 10%;
    font-family: 'Brush Script MT', cursive;
}

.currency {
    height: 120px;
    width: 120px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;
    margin-right: 10px;
}

.main-positing {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.info-div {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.info {
    font-family: 'Brush Script MT', cursive;
    font-size: x-large;
    margin-right: 40px;
}